TalmaPreDespacho/UITalmaNET/Service References/srvSeguridad/srvSeguridad41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tlmsrvrmp2.grupotalma.local/services/srvADUTalma/PreDespacho/Contratos/srvSeguridad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Perfiles" />
  <xs:element name="Valida_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AL_USUA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PW_USUA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Valida_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Perfiles" minOccurs="0" name="Valida_UsuarioResult" nillable="true" type="q1:beUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>