TalmaPreDespacho/UITalmaNET/Service References/srvPreDespacho/srvPreDespacho2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55902/PreDespacho/Contratos/srvPreDespacho.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EsquemaEntidades.PreDespacho" />
  <xs:import schemaLocation="http://localhost:55902/PreDespacho/Contratos/srvPreDespacho.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Log" />
  <xs:element name="GetPreDespachos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_GUIA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CO_USUA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ST_PRE_DESPACHO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreDespachosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EsquemaEntidades.PreDespacho" minOccurs="0" name="GetPreDespachosResult" nillable="true" type="q1:ArrayOfbePreDespacho" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Log" minOccurs="0" name="logger" nillable="true" type="q2:beLogger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGeneraPreDespacho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_GUIA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CO_USUA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FE_RETI" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGeneraPreDespachoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetGeneraPreDespachoResult" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Log" minOccurs="0" name="logger" nillable="true" type="q3:beLogger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_GUIA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EsquemaEntidades.PreDespacho" minOccurs="0" name="GetPreFacturaResult" nillable="true" type="q4:ArrayOfbePreFactura" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Log" minOccurs="0" name="logger" nillable="true" type="q5:beLogger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGeneraPreFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_GUIA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FE_SALI" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CO_USUA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGeneraPreFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetGeneraPreFacturaResult" type="xs:boolean" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Log" minOccurs="0" name="logger" nillable="true" type="q6:beLogger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGetGuia_Resumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_GUIA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGetGuia_ResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EsquemaEntidades.PreDespacho" minOccurs="0" name="GetGetGuia_ResumenResult" nillable="true" type="q7:ArrayOfbeGuia" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Log" minOccurs="0" name="logger" nillable="true" type="q8:beLogger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransacciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_GUIA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_ARCH" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransaccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EsquemaEntidades.PreDespacho" minOccurs="0" name="GetTransaccionesResult" nillable="true" type="q9:ArrayOfbeTransaccion" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Log" minOccurs="0" name="logger" nillable="true" type="q10:beLogger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpSert_Transaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EsquemaEntidades.PreDespacho" minOccurs="0" name="be" nillable="true" type="q11:beTransaccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpSert_TransaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpSert_TransaccionResult" type="xs:boolean" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Log" minOccurs="0" name="logger" nillable="true" type="q12:beLogger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreDespacho_Documentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_GUIA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_ARCH" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreDespacho_DocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EsquemaEntidades.PreDespacho" minOccurs="0" name="GetPreDespacho_DocumentosResult" nillable="true" type="q13:ArrayOfbePreDespacho_Documento" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Log" minOccurs="0" name="logger" nillable="true" type="q14:beLogger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpSert_PreDespacho_Documento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EsquemaEntidades.PreDespacho" minOccurs="0" name="be" nillable="true" type="q15:bePreDespacho_Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpSert_PreDespacho_DocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpSert_PreDespacho_DocumentoResult" type="xs:boolean" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EsquemaEntidades.Log" minOccurs="0" name="logger" nillable="true" type="q16:beLogger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>